<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My education</title>
    {% include 'myresume/navbar.html' %}
    <center><h2> Detail Information About My education </h2>
       <ul>
         <li> <h3>Bachelor of Computer Science   San Francisco State University     Aug 2018 - May 2020     </h3> </li>
         <li><h3>Associate of Arts              Contra Costa College               Jan 2016 - May 2018     </h3> </li>
       <li> <h3>Transfer                       East Central University            Aug 2015 - Dec 2015     </h3> </li>
       </ul>
    </center>
</head>
<body>

</body>
</html>