<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My education</title>
    {% include 'myresume/navbar.html' %}

    
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    table{
      width: 100%;
    }
    th, td {
      padding: 5px;
    }
    th {
      text-align: left;
    }
    </style>
     <center><header Style="font-size:xx-large; text-shadow: black;"> Detail Information about my Education</header></center>
  </head>
       <table class="table table-dark">
         <thead>
           <tr>
             <th> University/College</th>
             <th>Degree</th>
             <th>Date </th>
             <th> Courses</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td> San Francisco State University </td>
             <td>Bachelor of Computer Science</td>
             <td>Aug 2018 - May 2020</td>
             <td> <a href="">Class</a></td>
           </tr>
           <tr>
             <td>Associate of Arts </td>
             <td>Contra Costa College</td>
             <td>Jan 2016 - May 2016</td>
             <td> <a href="">Class</a></td>
           </tr>
           <tr>
             <td>  Transfer   </td>
             <td> East Central University</td>
             <td> Aug 2015 - Dec 2015</td>
             <td> <a href="">Class</a></td>
           </tr>
         </tbody>
         </table>
</body>
</html>