<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Work Experience</title>
    {% include 'myresume/navbar.html' %}
   
        <h2> 1. Software Engineering Team Lead </h2>
        <h3> San Francisco State University San Francisco, CA Jan – May 2020 </h3>
        <ul>
            <li><p>  Performed as a team lead in a group of 5 people to create a stock market web application.</p> </li>
            <li><p>  Build and developed software, turning tech specs into an architecture and code base.</p></li>
            <li><p>  Applied practical methods and tools for SW engineering including organizational teamwork.</p></li>
            <li><p>  Comprised of interactive Html, Css, Javascript, Bootstrap based web pages.</p></li>
            <li><p>  Comprised of Django framework, Python based server-side</p></li>
            <li><p>  Data stored in MySQL database using MySQL Workbench.</p></li>
            <li><p>  Created and maintained Trello Board.</p></li>
            <li><p>  Created and maintained bi-weekly Zoom meetings.</p></li>
            <li><p>  Tested all code on Ubuntu OS on AWS and pushed to deployment branch in Github.</p></li>
        </ul>
   
</head>
<body>

</body>
</html>