<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    {% include 'myresume/navbar.html' %}
</head>
<body>
<center>
<p><img src="/static/linkedIn.png" width="200px" height="200px"><br>
<a href=www.linkedin.com/in/dipendrabharati>LinkedIn</a></p>

<p></p><img src="/static/github.png" width="200px" height="200px"><br>
<a href=www.github.com/dipendrabharati>Github</a></p>

<p><img src="/static/facebook.png" width="200px" height="200px"><br>
<a href=www.facebook.com/dipendra.bharati.96>Facebook</a></p>

<p><img src="/static/reddit.png" width="200px" height="200px"><br>
<a href=www.reddit.com/dipendrabharati>Reddit</a></p>

<p><img src="/static/stackoverflow.png" width="200px" height="200px"><br>
<a href=www.stackoverflow.com/dipendrabharati>Stackoverflow</a></p>
</center>
</body>
</html>