<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>resume</title>
     {% include 'myresume/navbar.html' %}
</head>

<body>
    <center>
       <h2> Dipendra Bharati </h2>
        <h1> Welcome to my Personal Website</h1>
    </center>
    <center>
         <img src="/static/image.png" width="400px" height="400px">
        <p> Hi there, My name is Dipendra Bharati. I am a recent Computer Science graduate from San Francisco State University.</p>
    </center>


</body>

</html>