<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Work</title>
    {% include 'myresume/navbar.html' %}
</head>
<body>
    <div>
    <h3>1. Covid-19 Nepal  May-July 2020</h3>
       <ul>
           <li><p>Created Covid tracker to acquire information about the corona virus situation in Nepal.</p></li>
           <li><p>Displays the number of cases and deaths based on province and district.</p></li>
           <li><p>Data obtained from Ministry of Health was stored in MySQL database.</p></li>
           <li><p>Frontend comprised of Html, Css and JavaScript with Django and Python as the backend.</p></li>
           <li><p>Containarized app using Docker and deployed on AWS running Ubuntu OS.</p></li>     
      </ul>
    
      <h3> 2. Csc 667 Internet Application Design and Development – Sales Web App Jan-May 2020 </h3>
      <ul>
       <li><p> Performed in a group project to develop a web application to sell products.</p></li>
       <li><p> Assigned task to each individual, set deadline and reminders every week.</p></li>
       <li><p> Utilized React, Redux for client side programming, Express and Mongodb for server side.</p></li>
       <li><p> Developed API’s like transaction server, gateway server et cetera.</li>
       <li><p> Deployed the website on AWS using Docker containers.</p></li>
     </ul>

       <h3>3. Csc 413 Software Development --- Tank Game Aug-Dec 2019 </h3>
       <ul>
        <li><p> Designed and Programmed games in Java from scratch.</p> </li>
        <li><p> Created a 2D Tank game with 13 Java classes and more than 500 lines of code.</p> </li>
        <li><p> Utilized OOP principles for game variables, player controls and mechanics.</p></li>
        <li><p> Executed Reusability principle to develop next game Pyramid Panic with more than 80% reused code.</p></li> 
      </ul>

        <h3>4. Csc 675 Database Systems --- Sales Schema Jan-May 2020</h3>
        <ul> 
            <li><p>Created a general purpose database from scratch for buying and selling.</p></li>
            <li><p>Created business rules, ER diagrams, databasemodel and schema using MySQL Workbench.</p></li>
            <li><p>Tested the schema using various SQL queries like Insert, Delete, Update and so on.</p></li>
            <li><p>Developed an UI to test the functionality of the database.</p></li>
        </ul>
    </div>
</body>
</html>