<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Work</title>
    {% include 'myresume/navbar.html' %}
    <center> <h2>These are some of my Computer Science Projects</h2> 
    <p>Covid-19Nepal May-July 2020
        Created Covid tracker to acquire information about the corona virus situation in Nepal.
        Displays the number of cases and deaths based on province and district.
        Data obtained from Ministry of Health was stored in MySQL database.
        Frontend comprised of Html, Css and JavaScript with Django and Python as the backend.
        Containarized app using Docker and deployed on AWS running Ubuntu OS.</p>

     <p>  Csc 667 Internet Application Design and Development – Sales Web App Jan-May 2020
        Performed in a group project to develop a web application to sell products.
        Assigned task to each individual, set deadline and reminders every week.
        Utilized React, Redux for client side programming, Express and Mongodb for server side.
        Developed API’s like transaction server, gateway server et cetera.
        Deployed the website on AWS using Docker containers.</p>

       <p>  Csc 413 Software Development --- Tank Game Aug-Dec 2019
        Designed and Programmed games in Java from scratch.
        Created a 2D Tank game with 13 Java classes and more than 500 lines of code.
        Utilized OOP principles for game variables, player controls and mechanics.
        Executed Reusability principle to develop next game Pyramid Panic with more than 80% reused code. </p>

        <p>  Csc 675 Database Systems --- Sales Schema Jan-May 2020
        Created a general purpose database from scratch for buying and selling.
        Created business rules, ER diagrams, databasemodel and schema using MySQL Workbench.
        Tested the schema using various SQL queries like Insert, Delete, Update and so on.
        Developed an UI to test the functionality of the database.</p></center>
</head>
<body>

</body>
</html>